@model Headhunter.Models.Resume

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPosition" class="control-label"></label>
                <input asp-for="JobPosition" class="form-control" />
                <span asp-validation-for="JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedSalary" class="control-label"></label>
                <input asp-for="ExpectedSalary" class="form-control" />
                <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telegram" class="control-label"></label>
                <input asp-for="Telegram" class="form-control" />
                <span asp-validation-for="Telegram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedIn" class="control-label"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                </label>
            </div>
            <div class="form-group">
                <button id="module" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">Добавить модуль</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div id="module-body" class="modal-content">

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
</script>

<script>
    $('#module').on('click', function(){
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("Create", "Module")',
            type: 'GET',
            success: function (data) {
                $('#module-body').html(data);
                console.log('module uploaded');
            },
            error: function () {
                console.log('modules error');
            }
        });
    });
</script>